#!/bin/env bash

# ----------------------------------------------------------------
# USED IN: al.sysadmin-env
AL_SYSADMIN_ENVIRONMENT_PKGS=(vim tmux git rsync)
# ----------------------------------------------------------------
# USED IN: al.vim-env
AL_GIT_REPOS_PATH="${HOME}/src/git"
# ----------------------------------------------------------------
# USED IN: al.docker
AL_BASHRC="${HOME}/.bashrc"
AL_CONFIG_PATH="${HOME}/.dsAutoLinux"
AL_DATETIME=$(date +'%Y%m%d%H%M%S')
AL_DOCKER_SYS_PATH="/var/lib/docker"
AL_DOCKER_ENG_PATH="/var/lib/docker-engine"
AL_DOCKER_PATH="/dockers"
AL_DOCKER_CONTAINERS_PATH="${AL_DOCKER_PATH}/containers"
AL_DOCKER_ALIAS="${AL_CONFIG_PATH}/alias_docker"
# ----------------------------------------------------------------
# USED IN: al.docker-network
AL_DOCKER_NETWORK_NAME="physical_nw"
AL_DOCKER_NETWORK_DRIVER="macvlan"
AL_DOCKER_NETWORK_GATEWAY="192.168.1.1"
AL_DOCKER_NETWORK_SUBNET="192.168.1.0/24"
AL_DOCKER_NETWORK_IPRANGE="192.168.1.112/28"
AL_DOCKER_NETWORK_OPTIONS=("macvlan_mode=bridge" "parent=enp0s8")
# ----------------------------------------------------------------
# USED IN: al.docker, al.docker-emby
AL_DOCKER_VOLUMES_PATH="${AL_DOCKER_PATH}/vols"
# ----------------------------------------------------------------
# USED IN: al.docker-emby
AL_DOCKER_EMBY_CONFIG_PATH="${AL_DOCKER_VOLUMES_PATH}/emby-config"
AL_DOCKER_EMBY_VOLUME1="/mnt/Media:/mnt/Media"
AL_DOCKER_EMBY_FILENAME="emby.docker"
AL_DOCKER_EMBY_NETWORK="${AL_DOCKER_NETWORK_NAME}"
AL_DOCKER_EMBY_NAME="emby0"
AL_DOCKER_EMBY_HOSTNAME="${AL_DOCKER_EMBY_NAME}.hom"
AL_DOCKER_EMBY_MAC="00:11:22:33:44:55"
AL_DOCKER_EMBY_IP="192.168.1.112"
AL_DOCKER_EMBY_RESTART="unless-stopped"
AL_DOCKER_EMBY_OPTIONS=("-dit")
# ----------------------------------------------------------------
# USED IN: al.docker-emby-config
AL_DOCKER_EMBY_REMOTE_USER="deadsoul"
AL_DOCKER_EMBY_REMOTE_IP="192.168.1.32"
AL_DOCKER_EMBY_REMOTE_PATH="/var/lib/emby"
# ----------------------------------------------------------------

function showVars() {
    for _var in ${!AL_*}; do
        echo "${_var}='${!_var}'"
    done; exit 0
}

[[ "$1" == 'vars' ]] && showVars
