#!/bin/env bash

# ----------------------------------------------------------------
# USED IN: common files
AL_DATETIME=$(date +'%Y%m%d%H%M%S')
AL_PATH_CONFIG="${HOME}/.dsAutoLinux"
AL_PATH_BIN="${AL_PATH_CONFIG}/bin"
# ----------------------------------------------------------------
# USED IN: al.sysadmin-env
AL_SYSADMIN_ENVIRONMENT_PKGS=(vim tmux git bindfs rsync)
# ----------------------------------------------------------------
# USED IN: al.vim-env
AL_GIT_REPOS_PATH="${HOME}/src/git"
# ----------------------------------------------------------------
# USED IN: al.docker
AL_DOCKER_PATH_SYS="/var/lib/docker"
AL_DOCKER_PATH_ENG="/var/lib/docker-engine"
AL_DOCKER_PATH="/dockers"
AL_DOCKER_ALIAS="${AL_PATH_CONFIG}/alias_docker"
# ----------------------------------------------------------------
# USED IN: al.docker-network
AL_DOCKER_NETWORK_NAME="physical_nw"
AL_DOCKER_NETWORK_DRIVER="macvlan"
AL_DOCKER_NETWORK_GATEWAY="192.168.1.1"
AL_DOCKER_NETWORK_SUBNET="192.168.1.0/24"
AL_DOCKER_NETWORK_IPRANGE="192.168.1.112/28"
AL_DOCKER_NETWORK_OPTIONS=("macvlan_mode=bridge" "parent=enp0s8")
# ----------------------------------------------------------------
# USED IN: al.docker-emby
AL_DOCKER_EMBY_VIDEO_GID=$(getent group video | cut -d: -f3)
#AL_DOCKER_EMBY_REPO_VER="emby/embyserver:3.5.3.0"
AL_DOCKER_EMBY_REPO_VER="emby/embyserver:4.0.1.0"
AL_DOCKER_EMBY_NAME="emby4"
AL_DOCKER_EMBY_VOLUMES=("${AL_DOCKER_PATH}/emby/config:/config" \
    "/mnt/Media:/mnt/Media" \
    "${AL_DOCKER_PATH}/emby/backup:/mnt/Backups")
AL_DOCKER_EMBY_NETWORK="${AL_DOCKER_NETWORK_NAME}"
AL_DOCKER_EMBY_HOSTNAME="${AL_DOCKER_EMBY_NAME}.hom"
AL_DOCKER_EMBY_MAC="00:11:22:33:44:55"
AL_DOCKER_EMBY_IP="192.168.1.112"
AL_DOCKER_EMBY_UID="1000"
AL_DOCKER_EMBY_GID="1000"
AL_DOCKER_EMBY_GIDLIST="100,${AL_DOCKER_EMBY_VIDEO_GID}"
AL_DOCKER_EMBY_RESTART="unless-stopped"
AL_DOCKER_EMBY_OPTIONS=("-dit")
# ----------------------------------------------------------------
# USED IN: al.vbox-host
# ----------------------------------------------------------------
# USED IN: al.vbox-guest
# ----------------------------------------------------------------
# USED IN: al.fstab
#AL_FSTAB_X=('FILESYSTEM' 'MOUNTPOINT' 'TYPE' 'OPTIONS' 'DUMP' 'PASS')
AL_FSTAB_1=('Dockers' '/mnt/Dockers' 'vboxsf' 'rw' 0 0)
AL_FSTAB_2=('Media' '/mnt/Media' 'vboxsf' 'uid=1000,rw' 0 0)
AL_FSTAB_3=('/mnt/Dockers/emby/config-v3' \
    '/dockers/emby/config-v3' \
    'fuse.bindfs' \
    'force-user=deadsoul,force-group=deadsoul' 0 0)
AL_FSTAB_4=('/mnt/Dockers/emby/backup-v3' \
    '/dockers/emby/backup-v3' \
    'fuse.bindfs' \
    'force-user=deadsoul,force-group=deadsoul' 0 0)
AL_FSTAB_5=('/mnt/Dockers/emby/config-v4' \
    '/dockers/emby/config-v4' \
    'fuse.bindfs' \
    'force-user=deadsoul,force-group=deadsoul' 0 0)
AL_FSTAB_6=('/mnt/Dockers/emby/backup-v4' \
    '/dockers/emby/backup-v4' \
    'fuse.bindfs' \
    'force-user=deadsoul,force-group=deadsoul' 0 0)
# ----------------------------------------------------------------

function showVars() {
    for _var in ${!AL_*}; do
        echo "${_var}='${!_var}'"
    done; exit 0
}

[[ "$1" == 'vars' ]] && showVars
